 * {
  box-sizing: border-box;
}


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  /*background: rgba(230, 167, 105, 0.559);*/
  user-select: none;
  -webkit-app-region: drag;
  background: transparent;
  
}

.app {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width:100%;
    height:100%;
    padding:0.75rem;

    background-image: url("assets/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
  
}

button,
input,
textarea,
select {
  -webkit-app-region: no-drag;
  cursor: pointer;
}

.title{

    display: flex;
    padding: 0.25rem 0.625rem;
    justify-content: center;
    gap:0.625rem;

    border-radius: 6.25rem;
    border:1px solid #53220188;
    background: rgba(131, 89, 58, 0.74);


    color: var(--white , #FFF);
    font-family: "Pixelify Sans";
    font-size: 1rem ;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

#calendar{
    display: flex;
    width: 349px;
    height: 220px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 5rem;

    background-image: url("assets/frame.jpeg");
    
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
    overflow: hidden;
    }


#day{
    color:#e0cbb6;
    text-align: center;
    -webkit-text-stroke-width:1.5px;
    -webkit-text-stroke-color: var(--mid-brown, #53220188);
    font-family:"Gabriola";
    font-size: 7.0rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.45rem;

    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

#month-year {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem; /* space between month and year */
}

#month {

    color: #FFF;
    text-align: center;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #53220188;
    font-family: "Ink Free";
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; 
    letter-spacing: 0.3rem;

    width: auto;

}

#year {

    color: #FFF;
    text-align: center;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #53220188;
    font-family: "Ink Free";
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; 
    letter-spacing: 0.3rem;
    margin-top: 0.5rem;

    width: auto;

}

